<h4>Choose a topic to start quiz</h4>
<mat-form-field appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select #template [(value)]="topic">
    <mat-option value="nodejs">nodejs</mat-option>
    <mat-option value="sports">sports</mat-option>
    <mat-option value="music">music</mat-option>
  </mat-select>
</mat-form-field>

<p>You selected: {{ topic }}</p>
<section>
  <div class="example-button-row">
    <button mat-raised-button (click)="onSubmit(template)" color="primary">
      Select Option
    </button>
  </div>
</section>
